<!DOCTYPE html>
<html>
  <head>
    <title>Shipmentpage</title>
    <meta charset="UTF-8" lang="en" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
     
    <style>
      .bg_body {
         background-image: url("https://m.economictimes.com/thumb/msid-89659458,width-1200,height-900,resizemode-4,imgsize-535053/untitled-3.jpg"); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </head>
  <body class="bg_body">
    <div
      class="card bg-glass"
      style="background-color: rgba(255, 255, 255, 0.596); width: 100%"
    >
      <div style="text-align: center; padding: 10px; margin-bottom: 10px">
        <h3>Create New Shipment</h3>
      </div>
      <div style="margin-top: 30px">
        <form method="POST" class="model" action="/Submitshipmentdetails">
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Shipmentinvoice">Shipment/Invoice Number </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="Shipment/invoice Number"
                style="width: 50%"
                name="Shipmentinvoice"
                id="Shipmentinvoice"
                required
              />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Containernumber">Container Number </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="Container Number"
                style="width: 50%"
                name="Containernumber"
                required
                id="Containernumber"
              />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Shipmentdescription">Shipment_Description</h6>
            </div>
            <div class="col-md-4">
              <!-- <textarea class="form-control" rows="3" placeholder="Shipment Description" style="width: 50%"
                name="Shipment_Description" required id="Shipmentdescription"></textarea> -->
                <input type="text" class="input"  name="Shipment_Description" placeholder="Shipment Description"required onkeypress="return /[0-9a-zA-Z]/i.test(event.key)"><br>
            </div>
          </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Routedetails">Route Details </h6>
            </div>
            <div class="col-md-4">
              <select
                class="form-select"
                aria-label="Default select example"
                style="width: 50%"
                name="Routedetails"
                required
                id="Routedetails"
              >
              <option value="Chennai">Chennai to Banglore</option>
              <option value="Hyderabad">Hyderabad to Chennai</option>
              <option value="Banglore">Banglore to Rajastan</option>
              <option value="Rajastan">Rajastan to Dubai</option>
              <option value="Dubai">Dubai to Chennai</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Goodtypes">Good Types </h6>
            </div>
            <div class="col-md-4">
              <select
                class="form-select"
                aria-label="Default select example"
                style="width: 50%"
                name="Goodtypes"
                required
                id="Goodtypes"
              >
              <option value="" disabled selected>Goods Type</option>
              <option value="cosmetics">Cosmetics</option>
              <option value="pharmacy">Pharmacy</option>
              <option value="food">Food</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Device">Device </h6>
            </div>
            <div class="col-md-4">
              <select
                class="form-select"
                aria-label="Default select example"
                style="width: 50%"
                required
                name="Device"
              >
                <option value="67857">67857</option>
                <option value="73456">73456</option>
                <option value="52896">52896</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Expecteddelivery">Expected Delivery Date </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="Expected Delivery Date"
                style="width: 50%"
                type="date"
                required
                name="Expecteddelivery"
              />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="POnumber">PO Number </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="PO Number"
                style="width: 50%"
                required
                name="POnumber"
              />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Delivarynumber">Delivery Number </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="Delivery Number"
                style="width: 50%"
                required
                name="Delivarynumber"
              />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="NDCnumber">NDC Number </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="NDC Number"
                style="width: 50%"
                required
                name="NDCnumber"
              />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="BatchId">Batch Id :</h6>
            </div>
            <div class="col-md-4">
              <input placeholder="Batch Id" style="width: 50%" name="BatchId" />
            </div>
          </div>
          <div class="row justify-content-center m-auto p-2">
            <div class="col-md-2">
              <h6 for="Serialnumber">Serial Number of goods </h6>
            </div>
            <div class="col-md-4">
              <input
                placeholder="Serial Number of goods"
                style="width: 50%"
                required
                name="Serialnumber"
              />
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-center m-5">
              <button class="btn btn-secondary me-md-2" type="reset">
                Cancel Shipment
              </button>
            <button class="btn btn-primary"  type="submit"
            value="Click">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
              <i class="bi bi-plus-circle"></i>Create Shipment
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
